
html {
    background-color:#03496E;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%;
}

body {
    line-height: 1.4;
    background-color:#066DA5;
    margin:0px 50px 50px 150px;
    max-width:1200px;
}

h1 {
     text-align: center;
     font-size: 2.8rem;
     font-weight:400;
     line-height:2rem;
 }

h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 300;
  line-height:2rem;
}

h3 {
  text-align:center;
  padding-top:30px;
  font-size:2.0rem;
  line-height:2rem;
}

h4 {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 180;
  line-height: 2rem;
}

 p {
     text-align:center;
     padding: 5rem 0;
 }

 em {
   color: #FCE694;
 }

 footer {
   padding-bottom:100px;
 }

/* Page Layout */
#Page {
    width:960px;
    margin:30px auto;
}

#banner {
    background-color:#3697CB;
    padding:1rem 1.5rem 0 1.5rem;
    margin-bottom:1.5rem;
    height:100px;
}

    #banner nav ul {
      list-style-type: none;
      margin: 5px 60px 0 60px;
      padding: 0.15rem 0;
      overflow: hidden;
      background-color: #333333;
    }
            
    #banner nav li {
      float: left;
    }
            
    #banner nav li a {
      display: block;
      color: #F9FFFD;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
            
    #banner nav li a:hover {
      background-color: #010E29
    }

#HomePage {
  background-color:#3697CB;
  padding:0px 10px 10px 30px;
}

/* for tags.html */
#imgInvisi {
  margin-left: 325px;
}

#YoutubeVid {
  padding-left: 260px;
}

/* for nested.html */
#ariahNested {
  vertical-align: center;
  padding-left: 240px;
}

/* ----MARC STYLES---- */
#navmenu {
  background-color: #F6EDA9;
  padding:10px 10px 10px -10px;
  height:100px;

}
#navmenu ul {
  list-style-type: none;
  margin: 5px 10px 10px 10px;
  overflow: hidden;
  background-color: #333333;
}

#navmenu li {
  float: left;
}

#navmenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#navmenu li a:hover {
  background-color: #111111;
}

#Blue {
  color: blue;
}

#Violet {
  color: violet;
}

#tagsize {
  font-size: larger;
}

.gifsize {
  width: 150px;
  height: 150px;
  float: left;
}
.gifsize2 {
  padding-left: 40em;
}

.tablesize {
  width: 100px;
  height: 100px;
  font-size: 30;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}
th, td {
  padding: 15px;
  font-size: large;
}

.headsize {
  color: white;
  border-color: #F6EDA9;
  border-width: 2px;
  border-style: solid;
  border: 10px 20px 10px 20px;
  font-size: 30;
  margin: 45px 0 0 0; 
  text-align: center;
  padding: 5px 0;
}

.headsize2 {
  color: #F6EDA9;
  font-size: 40;
  text-align: center;
}

.headsize3 {
  color:yellow;
  font-size: 40;
  text-align: center;
  border-style: dotted;
  border-color: red;

}
 
.navtext {
  font-size: 20;
  text-indent: 2.0em;
  padding: 10px 0;
  text-align: left;
     
}

.imgsize {
  font-size: 20;
  width: 307px;
  height: 582px;
  padding: 20px 0;
  float: right;
     
}
HEAD
.aligntext {
  float: left;
  margin-top: -20px;
}
   
/*=======*/
/*Max - List*/ 

#TorchBanner {
  background-color:#904643;
  padding:1rem 2rem 0 2rem;
  margin-bottom:1.5rem;
  height:100px;
  border: solid;
  border-width: thin;
} 

.torchImgSize {
  font-size: 20;
  width: 200px;
  height: 379.15px;
  padding: 20px 0 0 0;
  float: left;
     
}

.torchImgSizeRight {
  font-size: 20;
  width: 200px;
  height: 379.15px;
  padding: -15px 0 20px 0;
  float: right;
     
}

.torchNavText {
  font-size: 20;
  text-indent: 2.0em;
  padding: 10px 0;
  text-align: right;
     
}

.torchNavTextLeft {
  font-size: 20;
  text-indent: 2.0em;
  padding: 10px 0;
  text-align: left;
     
}

#TorchPage {
  width:1200px;
  margin:1.5rem auto;
}